apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-omfrpepe
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-omfrpepe:82a36136ff83fc03e92239cb7004d93dfb393fd9@sha256:4bc90eddf5357624f721a53f2d2f3142953562d16279a85ab7ae15b63a5a8dc9
        name: container-image  
